@import "tailwindcss";
body {
    cursor: url('/cursors/auto.png'), auto;
}  
button, a, [role="button"], .cursor-pointer {
    cursor: url('/cursors/pointer.png'), pointer;
}
@keyframes bounceSimpson {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(-20px); }
    40%  { transform: translateY(0); }
    60%  { transform: translateY(-10px); }
    80%  { transform: translateY(0); }
    100% { transform: translateY(0); }
  }
  
  .bounce-simpson-hover:hover {
    animation: bounceSimpson 1s ease;
  }
  .tecla-blanca {
    width: 60px;
    height: 200px;
    margin: 1px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: column; /* 游댷 Disposici칩n en columna */
    justify-content: flex-end; /* Colocar contenido hacia la parte inferior */
    align-items: center; /* Centrar el contenido horizontalmente */
    padding: 10px 5px; /* Espaciado interno */
    position: relative;
    z-index: 10;
    box-shadow: 2px 4px #888;
    transition: transform 0.1s ease;
  }

  
  @font-face {
    font-family: 'Simpsonfont';  /* Nombre que usar치s en Tailwind */
    src: url('../public/fonts/Simpsonfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Mejora la renderizaci칩n mientras carga */
  }
   
  .tecla-negra {
    width: 40px;
    height: 130px;
    background: black;
    border: 1px solid #333;
    border-radius: 4px;
    z-index: 20;
    transition: transform 0.1s ease;
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* 游댷 Disposici칩n en columna */
    justify-content: flex-end; /* Colocar contenido hacia la parte inferior */
    align-items: center; /* Centrar el contenido horizontalmente */
    padding: 10px 5px; /* Espaciado interno */
    color: white;
  }
  
  .tecla-blanca:active,
  .tecla-negra:active {
    transform: scale(0.97);
    box-shadow: none;
  }
  .presionada {
    transform: scale(0.97);
    box-shadow: none !important;
  }
  #loadingIndicator.hidden {
    display: none;
}
.randomizar-btn {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.randomizar-btn:hover {
  background-color: #45a049;
}
